<%= form_with model: @team, local: true do |f| %>
  <%= f.collection_check_boxes :user_ids, @user, :id, :nickname do |user| %>
    <table class="table margin">
      <tr>
        <td width="15%" class="align-middle text-center"><%= user.check_box %></td>
        <td width="30%" class="align-middle text-center"><%= image_tag user.object.icon.url, size: "50x50" %></td>
        <td width="55%" class="align-middle"><%= user.object.nickname %></td>
      </tr>
    </table>
  <% end %>
  <div class="text-center margin">
    <%= f.submit "チームを作成する", class: "btn btn-success post-button" %>
  </div>
<% end %>
