<div class="team-show-container">
  <div class="team-header">
    <%= @team.name %>
  </div>
  <div class="team-members-container">
    <%= render partial: "user_link", collection: @members %>
  </div>
  <div class="invitation text-center">
    <%= render "invitation" %>
  </div>
  <hr>
  <div class="team-message-container">
    <% if @messages.exists? %>
      <%= render partial: "message", collection: @messages %>
    <% else %>
      <p class="text-center">まだメッセージはありません。</p>
    <% end %>
  </div>
  <hr>
  <div class="team-message-form">
    <%= render "team_messages/form" %>
  </div>
</div>
