<div class="team-show-container">
  <div class="team-header">
    <%= @team.name %>
  </div>
  <div class="team-members-container">
    <%= render partial: "user_link", collection: @members %>
  </div>
  <div class="invitation text-center">
    <a data-toggle="collapse" href="#collapseExample" area-expanded="false" aria-controls="collapseExample">
      招待を送る
    </a>
    <div class="collapse" id="collapseExample">
      <%= render "invitation" %>
    </div>
  </div>
  <hr>
  <div class="team-message-container">
    <% if @messages.exists? %>
      <%= render partial: "message", collection: @messages %>
    <% else %>
      <p class="text-center no-message">まだメッセージはありません。</p>
    <% end %>
  </div>
  <hr>
  <div class="team-message-form">
    <%= render "team_messages/form" %>
  </div>
</div>
