<%= render "layouts/error_messages", model: @deck %>
<div class="text-center">
  <%= form_with model: @deck, loacle: true do |f| %>
    <div class="deck-list-image">
      <%= image_tag @deck.deck_list.url, class: "deck-image" %>
    </div>
    <div class="free-content margin">
      <div class="free-content-label">
        <%= f.label :content %>
      </div>
      <div class="free-space">
        <%= f.text_area :content, class: "form-control", rows: "5" %>
      </div>
    </div>
    <div class="deck-status-button margin">
      <%= f.radio_button :status, :public %>
      <%= f.label :status, "公開", class: "button-label" %>
      <%= f.radio_button :status, :private, class: "radio-button" %>
      <%= f.label :status, "非公開", class: "button-label" %>
    </div>
    <div class=submit>
      <%= f.submit "更新", class: "btn btn-success button margin form-control" %>
    </div>
  <% end %>
</div>
