<%= render "layouts/error_messages", model: @deck %>
<%= image_tag @deck.deck_list.url %>
<%= form_with model: @deck, loacle: true do |f| %>
  <p>
    <%= f.label :content %>
  </p>
  <p>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.collection_radio_buttons :status, DeckList.statuses_i18n, :first, :last %>
  </p>
  <p>
    <%= f.submit "更新", class: "btn btn-success" %>
  </p>
<% end %>
