<%= render "layouts/error_messages", model: @deck %>
<%= form_with model: @deck, loacle: true do |f| %>
  <p>
    <%= f.label :deck_list %>
    <%= f.file_field :deck_list, accept: "deck_image/png, deck_image/jpg, deck_image/jpeg, deck_image/gif" %>
  </p>
  <p>
    <%= f.label :content %>
  </p>
  <p>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.collection_radio_buttons :status, DeckList.statuses_i18n, :first, :last %>
  </p>
  <p>
    <%= f.submit "登録", class: "btn btn-primary" %>
  </p>
<% end %>
