<%= render "layouts/error_messages", model: @recruitment %>
<%= form_with model: @recruitment, locale: true do |f| %>
  <div class="new-recruitment text-center">
    <div class="form-cell margin">
      <h5 class="recruitment-label">
        <%= f.label :event_title, class: "form-label" %>
      </h5>
      <div class="recruitment-form">
        <%= f.text_field :event_title, required: true, class: "form-control" %>
      </div>
    </div>
    <div class="form-cell margin">
      <h5 class="recruitment-label">
        <%= f.label :number_of_applicants, class: "form-label" %>
      </h5>
      <div>
        <%= f.radio_button :number_of_applicants, :one, checked: true %>
        <%= f.label :number_of_applicants, "1人" %>
        <%= f.radio_button :number_of_applicants, :two, class: "radio-button" %>
        <%= f.label :number_of_applicants, "2人" %>
      </div>
    </div>
    <div class="form-cell margin">
      <h5 class="recruitment-label">
        <%= f.label :recruitment_condition %>
      </h5>
      <div>
        <%= f.radio_button :recruitment_condition, :anyone, checked: true %>
        <%= f.label :recruitment_condition, "誰でも" %>
        <%= f.radio_button :recruitment_condition, :enjoy, class: "radio-button" %>
        <%= f.label :recruitment_condition, "初心者歓迎" %>
        <%= f.radio_button :recruitment_condition, :seriousness, class: "radio-button" %>
        <%= f.label :recruitment_condition, "結果重視" %>
      </div>
    </div>
    <div class="form-cell margin">
      <h5 class="recruitment-label">
        <%= f.label :introduction, class: "form-label" %>
      </h5>
      <div>
        <%= f.text_area :introduction, class: "form-control" %>
      </div>
    </div>
    <div class="submit">
      <% if controller.action_name == "edit" %>
        <%= f.submit "更新する", class: "btn btn-success post-button form-control" %>
      <% else %>
        <%= f.submit "投稿する", class: "btn btn-info post-button form-control" %>
      <% end %>
    </div>
  </div>
<% end %>
