<div class="recruit-index-container">
  <%= link_to recruitment_path(recruitment) do %>
    <div class="recruit-index-cell">
      <strong>イベント名</strong>
      <%= recruitment.event_title %>
    </div>
    <div class="recruit-index-cell">
      <strong>募集人数</strong>
      <%= recruitment.number_of_applicants_i18n %>
    </div>
    <div class="recruit-index-cell">
      <%= recruitment.recruitment_condition_i18n %>
    </div>
    <div class="recruit-index-cell">
      <% unless recruitment.user == current_user %>
        <% if recruitment.entried_by?(current_user) %>
          <%= link_to "応募済", recruitment_entries_path(recruitment), method: :delete %>
        <% else %>
          <%= link_to "応募する", recruitment_entries_path(recruitment), method: :post %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div class="recruit-user-cell">
    <%= link_to user_path(recruitment.user.id) do %>
      <%= image_tag recruitment.user.icon.url, size: "50x50" %>
      <%= recruitment.user.nickname %>
    <% end %>
  </div>
</div>
