<div class="recruitment-show-container">
  <table class="table text-center table-borderless">
    <tr>
      <th width="50%">
        <%= link_to user_path(@recruitment.user) do %>
          <div class="user-icon">
            <div class="uesr-image">
              <%= image_tag @recruitment.user.icon.url, size: "150x150", class: "img-fluid img-circle" %>
            </div>
            <div class="user-name">
              <%= @recruitment.user.nickname %>
            </div>
          </div>
        <% end %>
      </th>
      <th width="50%" class="align-middle">
        <div id="recruitment-<%= @recruitment.id %>"  class="recruit-show-cell">
          <% if @recruitment.user == current_user %>
            <p>応募人数：<%= @recruitment.entries_count %></p>
          <% else %>
            <% if @recruitment.entried_by?(current_user) %>
              <%= render "entries/unentry", recruitment: @recruitment %>
            <% else %>
              <%= render "entries/entry", recruitment: @recruitment %>
            <% end %>
          <% end %>
        </div>
      </th>
    </tr>
  </table>
  <% if @recruitment.user == current_user %>
    <div class="recruitment-buttons text-center margin">
      <hr>
      <div class="container">
        <div class="row">
          <div class="col">
            <%= link_to "編集", edit_recruitment_path(@recruitment), class: "btn btn-primary form-control" %>
          </div>
          <div class="col">
            <%= link_to "削除", recruitment_path(@recruitment), method: :delete, data: { confirm: "削除しますか？"}, class: "btn btn-danger form-control" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <table class="table">
    <tr class="text-center">
      <th width="30%">イベント名</th>
      <td width="70%"><%= @recruitment.event_title %></td>
    </tr>
    <tr class="text-center">
      <th>募集人数</th>
      <td><%= @recruitment.number_of_applicants_i18n %></td>
    </tr>
    <tr class="text-center">
      <th>募集要項</th>
      <td><%= @recruitment.recruitment_condition_i18n %></td>
    </tr>
    <tr>
      <th class="text-center">募集詳細</th>
      <td>
        <div class="recruitment-introduction">
          <%= simple_format (h @recruitment.introduction) %>
        </div>
      </td>
    </tr>
  </table>
  <hr>
  <% if @recruitment.user == current_user %>
    <div class="entry-users">
      <h5 class="container-title text-center margin">
        応募したユーザー
      </h5>
      <% if @users.exists? %>
        <%= render "team_form" %>
      <% else %>
        <hr>
        <p class="text-center no-entry">まだ応募がありません。</p>
      <% end %>
    </div>
  <% end %>
</div>
