<% visitor = notification.visitor %>
<% visited = notification.visited %>
<% created_at = notification.created_at.strftime("%Y-%m-%d %H:%M") %>
<% case notification.action %>
<% when "entry" %>
<p>
  <%= link_to user_path(visitor) do %>
    <%= image_tag visitor.icon.url, size: "50x50" %>
    <%= visitor.nickname %>
  <% end %>
  さんが
  <%= link_to "あなたの投稿", recruitment_path(notification.recruitment_id) %>
  に応募しました。
  <%= render "update_button", notification: notification %>
</p>
<% when "direct_message" %>
<p>
  <%= link_to user_path(visitor) do %>
    <%= image_tag visitor.icon.url, size: "50x50" %>
    <%= visitor.nickname %>
  <% end %>
  さんから
  <%= link_to "ダイレクトメッセージ", room_path(notification.room_id) %>
  が届きました。
  <%= render "update_button", notification: notification %>
</p>
<% when "team_message" %>
<p>
  <%= link_to "チーム", team_path(notification.team_id) %>
  にメッセージが投稿されました。
  <%= render "update_button", notification: notification %>
</p>
<% when "invitation" %>
<p>
  <%= link_to user_path(visitor) do %>
    <%= image_tag visitor.icon.url, size: "50x50" %>
    <%= visitor.nickname %>
  <% end %>
  さん
  からチームへの招待が届きました。
  <%= link_to "参加する", join_team_path(notification.team_id) %>
  <%= link_to "削除", notification_path(notification), method: :delete, class: "btn btn-danger btn-sm", data: { confirm: "削除しますか？" } %>
</p>
<% end %>
