<div class="user-show-content">
  <div class="user-show-icon">
    <%= image_tag @user.icon.url, :size => "300x300" %>
    <%= @user.nickname %>
  </div>
  <div class="user-show-introduction">
    <%= simple_format (h @user.introduction) %>
  </div>
  <div>
    <%= link_to "デッキリスト", deck_lists_path %>
  </div>
  <hr>
  <% if @decks.exists? %>
    <%= render partial: "deck", collection: @decks %>
  <% else %>
    <p>公開中のデッキはありません。</p>
  <% end %>
</div>
