<div class="user-show-content">
  <div class="user-show-icon">
    <%= image_tag @user.icon.url, :size => "300x300" %>
    <%= @user.nickname %>
  </div>
  <div class="user-show-introduction">
    <%= simple_format (h @user.introduction) %>
  </div>
  <div>
    <%= link_to "デッキリスト", deck_lists_path %>
  </div>
  <hr>
  <% if @decks.exists? %>
    <%= render partial: "deck", collection: @decks %>
  <% else %>
    <p>公開中のデッキはありません。</p>
  <% end %>
  <hr>
  <div class="user-show-cell">
    <% if @user == current_user %>
      <% if @entries.exists? %>
        <%= render partial: "recruitments/recruitment", collection: @entries %>
      <% else %>
        まだ応募していません。
      <% end %>
    <% end %>
  </div>
  <div class="user-show-cell">
    <% unless @user == current_user %>
      <% if @haveRoom == true %>
        <%= link_to "メッセージを送る", room_path(@roomId) %>
      <% else %>
        <%= form_with model: @room, local: true do |f| %>
          <%= fields_for @userRoomKey do |r| %>
            <%= r.hidden_field :user_id, value: @user.id %>
          <% end %>
          <%= f.submit "ダイレクトメッセージを開始する" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
