<div class="room-container">
  <% anotherUserRoomKey = room.room_keys.where.not(user_id: current_user.id) %>
  <% anotherUser = User.find(anotherUserRoomKey.first[:user_id]) %>
  <tr>
    <td width="30%" class="text-center">
      <%= link_to room_path(room) do %>
        <div class="user-icon">
          <div class="user-image">
            <%= image_tag anotherUser.icon.url, size: "100x100", class: "img-fluid img-circle" %>
          </div>
          <div class="user-name">
            <%= anotherUser.nickname %>
          </div>
        </div>
      <% end %>
    </td>
    <td width="20%" class="align-middle text-right">
      <% if room.show_last_direct_message_user_nickname == current_user.nickname %>
        <span>あなた</span>
      <% else %>
        <%= room.show_last_direct_message_user_nickname %>
      <% end %>
    </td>
    <td width="70%" class="last-message align-middle">
      <%= room.show_last_direct_message %>
    </td>
  </tr>
</div>
